* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    margin: 0 30px;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    color: rgb(32, 32, 34);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.form-control, .form-dp-control {
    padding: 0.3rem;
    margin: 10px 0;
    outline-style: none;
}

.form-control {
    width: 100%;
}

.form-dp-control {
    width: 50%;
}

.btn {
    margin-top: 10px;
    outline-style: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    background: #0271b1;
    color: #fff;
}

.btn-primary:hover {
    background: #0b99eb;
}

.table {
    width: 50%;
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
    border: black;
}

/* .table th {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 500;
} */

.table td {
    padding: 0.8rem;
}

@media screen and (max-width: 500px) {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: left;
    }
    .form-control {
        width: 440px;
        text-align: left;
    }
    .form-dp-control {
        width: 230px;
    }
    .btn {
        width: 200px;
    }
    .table td {
        padding: 0.4rem;
    }
}